.faq--button {
  font-weight: 500;
  text-transform: uppercase;
}

.faq--answer {
  color: var(--surface-11);
  font-size: var(--font-sm);
}

.faq-page-container {
  max-width: 960px;
  margin: auto;
}
