.footer {
  background-color: var(--B1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-main {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
}

.link {
  text-decoration: none;
  transition: scale 0.3s ease;
  color: currentColor;
  display: inline-block;
  transition: transform 100ms ease;
  transform-origin: top center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -2px;
    inset-inline-start: 0;
    width: 100%;
    height: 2px;
    background-color: var(--P11);
    border-radius: 2px;
    transform: scaleX(0);
    transform-origin: 0 center;
    transition: transform 300ms ease;
  }

  &:hover {
    color: var(--P11);
    &:before {
      transform: scale(1);
      transform-origin: 100% center;
    }
  }

  [dir="rtl"] &::before {
    transform-origin: 100% center;
  }

  [dir="rtl"] &:hover:before {
    transform-origin: 0 center;
  }
}

.copyright {
  border-top: 1px solid var(--B3);
  background-color: var(--B2);
}
