.qr-code_item {
  text-decoration: none;
  color: currentColor;
  transition: transform 0.2s ease-in-out;
  width: 100%;

  &:hover {
    transform: translateY(-1px) scale(1.02);
    background: var(--B2);
    .qr-code_arrow {
      transform: rotate(90deg) skewX(-20deg);
    }
  }
}
.qr-code_arrow {
  transform: rotate(90deg);
  transition: transform 0.2s ease-in-out;
  perspective: 1000px;
}

.qr-code_container {
  box-shadow: 0 0 10px rgba(48, 48, 48, 0.1);
  width: 100%;
  max-width: 300px;
}

.qr-code {
  height: 100vh;
}
