.testimonial-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1rem 2rem;

  & blockquote {
    background-color: var(--surface-1);
    border-inline-start: 4px solid var(--primary-9); /* Example accent color */
    padding: 1rem;
    border-radius: 0.25rem;
    border: 1px solid var(--opacity-5);
    box-shadow: 0 4px 10px -2px var(--opacity-3);
  }
}

.author {
  font-style: italic;
}
