.patient-section {
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  margin-bottom: 2rem;
  min-height: 35vh !important;
}

.patient-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
  z-index: 1;
}

.patient-design {
  position: absolute;
  inset: 0;
  background-color: var(--B3);
  z-index: 1;
  border-radius: 1rem;
}

.patient-content-wrapper {
  position: relative;
  z-index: 3;
}

.patient-description {
  max-width: 800px;
}

.patient-cta {
  margin-top: 2rem;
}

// grid layouts for specific sections
.patient-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }
}
